* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 245, 243);
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
