* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 245, 243);
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
/* top区域 */
.top {
  width: 100%;
  background-color: #000;
  padding: 5px;
  display: flex;
  align-items: center;
}
.top div {
  color: #fcfafa;
}

.top-touxiang {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: #000;
}

.top-touxiang img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
/* top区域 */

.header {
  display: block;
  padding: 5px;
}

.menu {
  display: none;
}

.nav {
  /* display: flex; */
  width: 100%;
  flex: 1;
}

.flex {
  display: flex;
}

.nav li {
  /* list-style: none; */
  margin-right: 5px;
  align-items: center;
}

.container {
  border: 1px solid #000;
  padding: 10px;
  height: 100%;
}

.c-r-item {
  width: 100%;
  height: auto;
  border: 1px solid #0e0e0ff8;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px 0;
}

.c-r-item-bottom {
  display: flex;
  /* padding: 0 px; */
  border-top: 1px solid #0e0e0ff8;
  margin: 0 5px;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.c-r-item-bottom svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.c-r-item-middle-text {
  width: 100%;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  /* transition: ; */
}

.c-r-item-middle-text.expanded {
  max-height: 200px;
}
.c-r-item-middle button {
  color: #000000;
}

.c-r-item-top {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 5px;
  margin: 5px 0;
  /* border-bottom: 1px solid #000000; */
}

.c-r-item-top-touxiang {
  border-radius: 50%;
  margin-right: 5px;
}

.c-r-item-top-touxiang svg {
  width: 20px;
  height: 20px;
}

.c-r-item-top button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  /* color: #220fea; */
  border: none;
  cursor: pointer;
  background: transparent;
}

.c-r-item-top svg {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
    width: 200px;
    /* background-color: lab(96% -1.75 -6.05); */
    border-radius: 5px;
    margin: 0 5px;
  }
  .header {
    display: flex;
    cursor: pointer;
  }
}
